
@{
    ViewBag.Title = "Index";
}

<h2>Show Cars</h2>
<span class="text-warning"><center>@TempData["Msg"]</center></span>
<p class="text-right">
    @Html.ActionLink("Create New cars", "AddCar", "Car")
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Model</th>
        <th>Reg_Year</th>
        <th>Mileage</th>
        <th>Rent</th>
        <th>Discription</th>
        <th>Action</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Car_id</td>
            <td>@p.Name</td>
            <td>@p.Model</td>
            <td>@p.Reg_year</td>
            <td>@p.Mileage</td>
            <td>@p.Rent</td>
            <td>@p.Description</td>
            <td>
                <button> @Html.ActionLink("Edit", "Edit", new { id = p.Car_id }) </button>
                <button>@Html.ActionLink("Delete", "Delete", new { id = p.Car_id })</button>
            </td>
        </tr>
    }
</table>
